@media (max-width: 1024px) {
  .class-section .section-list {
    flex-direction: column;

    .section-card {
      max-width: none;

      .img-box {
        height: 15.625rem; // 250px
      }
    }
  }
}

@media (max-width: 768px) {
  .header-inner .nav-menu {
    display: none;
  }

  .hero-section .hero-content {
    .hero-title {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    .hero-btn {
      width: 100%;
    }
  }

  .section .section-list {
    flex-direction: column;

    .section-card {
      max-width: none;

      .img-box {
        height: 15.625rem; // 250px
      }
    }
  }

  .contact-section {
    padding-top: 2.5rem;
  }
}

@media (max-width: 640px) {
  .class-section .section-list .section-card {
    flex-direction: column;

    .img-box img {
      max-height: 16rem; // 256px
    }
  }
}
