* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote {
    max-width: 600px;
    background-color: white;
    border-left: 6px solid rgb(42, 124, 179);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
}

.quote-text {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.8;
    color: rgb(92, 91, 99);
    position: relative;
}

.quote-text::first-letter {
    font-size: 3.1em;
    font-weight: bold;
    color:rgb(42, 124, 179);
    font-family: "Times New Roman", Times, serif;
    float: left;
    line-height: 0.8;
    padding-right: 4px;
}

.quote-text::before {
    content: "\201C"; 
    font-size: 4rem;
    color: #d1d5db;
    font-family: serif;
    position: absolute;
    top: -40px;
    left: -35px;
}

.quote-text::after {
    content: "\201D";
    font-size: 4rem;
    color: #d1d5db;
    font-family: serif;
    position: absolute;
    bottom: -60px;
    right: -20px;
}

.quote-author {
    text-align: right;
    color: #888888;
    margin-top: 30px;
    font-size: 0.95rem;
}