* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.price-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
}

.price-card {
    background-color: white;
    border: 1px solid rgb(231, 230, 231);
    border-radius: 8px;
    width: 280px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    /* transition: border-color 0.3s, transform 0.3s; */
}

.package-name {
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: capitalize;
    color: rgb(85, 92, 102);
    margin-bottom: 16px;
    /* transition: font-weight 0.2s, color 0.2s; */
}

.price {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333333;
    margin: 0 0 24px 0;
}

.period {
    font-size: 1rem;
    font-weight: normal;
    color: #888888;
}

.features {
    list-style-type: none;
    margin-bottom: 30px;
}

.features li {
    color: #666666;
    font-size: 1rem;
    padding: 8px 0;
    border-bottom: 1px solid rgb(231, 230 ,231);
}

.features li:last-child {
    border: none;
}

.btn {
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgb(51, 152, 218);
    color: white;
    padding: 12px 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(51, 152, 218, 0.5);
}

.price-card:nth-child(2) {
    background-color: rgb(228, 242, 253);
    border: 2px solid rgb(65, 119, 186);
    transform: scale(1.05);
    z-index: 1;
}

.price-card:hover {
    border-color: rgb(65, 119, 186);
}

.price-card:hover .package-name {
    font-weight: 900;
    color: #2980b9;
}